.footer{
    font-size: 12px;
    background-color: var(--color5);
}

.footer>.container>div {
    flex: 1 1 auto;
}

.footer *{
    color: var(--color1);
}

.footer .title{
    border-bottom: var(--color1) solid 2px;
    display: inline-block;
}

.footer .map {
    text-align: center;
}

.footer .social {
    display: flex;
    align-items: center;
}

.footer box-icon {
    fill: var(--color1);
}

.footer box-icon:hover {
    color: var(--color1);
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

    .map img{
        max-width: 200px;
    }

}