<div class="vw-100 footer">

    <div class="container py-5 d-flex flex-wrap gap-5">

        <!-- /* CONTACT */ -->

        <div class="contact">

            <div class="title my-3">
                <h3>Contacto</h3>
            </div>

            <div class="my-3">
                <h5><b>Email:</b>sasceramica@gmail.com</h5>
                <h5><b> Teléfono:</b>(03548)-15434942</h5>
                <a href="http://instagram.com/sas_ceramica" target="_blank" rel="noopener noreferrer">
                    <div class="social">
                        <box-icon class="bx instagram-icon" type='logo' name='instagram'></box-icon>
                        <h5>@sas_ceramica</h3>
                    </div>
                </a>
            </div>
        </div>

        <!-- /* MAP */ -->

        <div class="map">
            <a target="_blank" href="https://goo.gl/maps/nnC7nTbPnKCqZRYo7" >
                <img class="img-fluid" src="./images/map.png" alt="">
            </a>
        </div>

        <!-- /* FORM */ -->

        <div class="form mx-auto">
            <div class="row mt-5">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5 w-100">
                    <form id="contact-form" name="contact-form" action="" method="POST">

                        <!--Grid row-->
                        <div class="row ">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" placeholder="Nombre" class="form-control">
                                    <label for="name" class=""></label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" placeholder="Email" class="form-control">
                                    <label for="email" class=""></label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" placeholder="Tu Mensaje" rows="2"
                                        class="form-control md-textarea"></textarea>
                                    <label for="message"></label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center text-md-left">
                        <a class="btn btn-light">Enviar</a>
                    </div>
                    <div class="status"></div>
                </div>

            </div>
        </div>

        <div class="dev text-center w-100">
            <a target="_blank" href="https://www.github.com/ahroncich7">
                <h6 class="text-center">Dev by: <b>Haladwin</b></h6>
                <p>2023</p>
            </a>
        </div>

    </div>

</div>