.events-section .row {
    padding: 0;
}

.events-section .img-grid .col {
    padding: 0;
}

.hero h1 {
    font-size: 2rem!important;
}


@media screen and (max-width: 768px) {
    .img-fluid{
        width: 100%!important;
    }
}