.gastronomy-section .gastronomy-text {
    max-width: 600px;
}

.gastronomy-section {
    background-color: var(--color1);
}

a{
    color: rgb(172, 21, 21);
}

@media screen and (max-width: 768px) {

    .gastronomy-section .gastronomy-img img {
        width: 100vw!important;
    }
}