@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root {
    --color1: #EFEFEF;
    --color2: #DECBB7;
    --color3: #8F857D;
    --color4: #433633;
    --color5: #222222;
    --color6: #918175;

    --color1-50: #efefefde;
    --color2-50: #decbb779;
    --overlay2: #8f857d80;
    font-family: 'Raleway', sans-serif;
}

* {
    font-family: 'Raleway', sans-serif;
    color: var(--color5);
}

a, a:visited {
    text-decoration: none;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track-piece{
    background-color: var(--color4);
    padding: 0 2px;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--color3 );
}


/* BUTTONS */

.btn-light {
    background-color: var(--color4);
    color: var(--color5);
}


/* HIDDENS */

.ocult-no-stock{
    display: none!important;
}

.ocult-filtered{
    display: none!important;
}

/* CUSTOM CLASES */

.minvh-50{
    min-height: 50vh;
}

.vh-50{
    height: 50vh;
}

/* ANIMATION */

.fadeIn{
    animation: fadeIn 4s;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  

  /* MEDIA QUERYES */

  @media screen and (max-width: 425px) {

    body{
        font-size: 12px
    };
    
  }