a,
.nav-link {
    color: var(--bs-gray-300)!important
}

a:hover,
.nav-link:hover {
    color: rgb(245, 171, 75) !important
}

p {
    margin-bottom: 1em;
}

.section__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar__container {
    height: max-content;
}

.hero__container {
    flex: 1;
}

.hero {
    background-image: url("../public/fondo.png");
    background-position: top;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
}

.background__filter {
    position: absolute;
    background: radial-gradient(#ffffff00, rgba(44, 37, 23, 0.8));
    width: 100%;
    height: 100%;
}

.container {
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    row-gap: 1em;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 80%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.description {
    width: 80%;
    height: max-content;
    background-color: rgba(121, 116, 112, 0.849);
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    z-index: 2;
    font-size: medium;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}