<div class="menu container fadeIn rounded">

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img class="navbar-brand" src="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarNav">
                <ul class="navbar-nav justify-content-around w-100">

                    <a class="nav-link" href="./"><span>HOME</span></a>

                    <div class="dropdown">


                        <button class="btn btn-secondary dropdown-toggle px-0" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Producción
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="products.html">Productos en Stock</a></li>
                            <li><a class="dropdown-item" href="#">Encargos</a></li>
                            <li><a class="dropdown-item" href="#">Objetos y Deco</a></li>
                        </ul>
                    </div>


                    <a class="nav-link" href="#">Sobre Sas</a>

                    <a class="nav-link" href="#">Contacto</a>
                </ul>
            </div>
        </div>
    </nav>
</div>